@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Nunito:300,400,700');

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 1rem;
  text-align: center;
  padding: 1rem 1rem;
}

.title-block {
  background: #000;
  color: #fff;
  margin: 0 auto;
  width: 21rem;
  box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.75);
  border-radius: 10px; 
}

.title-div .title-block h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.3rem;
  padding: 1rem;
}

.small {
  font-size: smaller;
}

.title-div {
  margin: 1rem auto;
}

.title-div img {
  height: 6rem;
  vertical-align: middle;
}

.font-weight-bold {
  font-weight: 700;
}

.details {
  text-align: center;
  margin-bottom: 2rem; 
}

p {
  margin: 0.5rem;
  font-size: 1.5rem;
}

h1 {
  font-family: 'Cedarville Cursive', cursive;
}

h3 {
  font-weight: 300;
}

.refresh {
  position: fixed;
  bottom: 20px;
  right: 47%;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.3);
  padding: 17px 0 0 17px;
  opacity: 0.8;
}

.icon {
  fill: #676767;
  transform: rotate(0deg);
  transition: fill .25s ease, transform .25s ease;
  margin-left: -0.9rem;
  margin-top: .2rem;
}

.refresh:hover .icon {
  fill: #1059FF;
  transform: rotate(180deg);
}

.refresh:hover {
  opacity: 1;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  body {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  body {
    padding-right: 10rem;
    padding-left: 10rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  body {
    padding-right: 15rem;
    padding-left: 15rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}