@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Nunito:300,400,700');

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 1rem;
  text-align: center;
  padding: 1rem 1rem;
  background: url('../imgs/wood.jpg');
}

.hide {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.loader img {
  height: 14rem;
  animation: shake 0.5s;
  animation-iteration-count: infinite; 
}

.loader p {
  font: bold 190% Consolas, Monaco, monospace;
	width: 60%;
	margin: 0 auto;
	white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(10, end) infinite;
	-webkit-animation: typing 1s steps(10, end) infinite;
}

.loader {
  margin-top: 4rem;
  text-align: center;
}

.social-icon {
  cursor: pointer;
  opacity: 0.6;
  font-size: 3rem;
  position: fixed;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
}

.social-icon:hover {
  opacity: 1;
}

.social-icon a {
  color: #000;
}

.audio-controls {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  font-size: 2rem;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  opacity: 0.6;
}

.audio-controls:hover {
  opacity: 1;
}

.title-block {
  background: #000;
  color: #fff;
  margin: 0 auto;
  width: 21rem;
  box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.75);
  border-radius: 10px; 
}

.title-div .title-block h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.3rem;
  padding: 1rem;
}

.small {
  font-size: smaller;
}

.title-div {
  margin: 1rem auto;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.title-div img {
  height: 6rem;
  vertical-align: middle;
}

.font-weight-bold {
  font-weight: 700;
}

.details {
  text-align: center;
  margin-bottom: 1rem; 
}

.details h1 {
  font-size: 2rem;
}

p {
  margin: 0.5rem;
  font-size: 1.5rem;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
}

h3 {
  font-weight: 300;
}

.refresh {
  position: fixed;
  bottom: 20px;
  right: 43%;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.3);
  padding: 17px 0 0 17px;
  opacity: 0.6;
}

.disabled {
  cursor: none;
  pointer-events: none;
  background-color: #8f8f8f
}

.icon {
  fill: #676767;
  transform: rotate(0deg);
  transition: fill .25s ease, transform .25s ease;
  margin-left: -0.9rem;
  margin-top: .2rem;
}

.refresh:hover .icon {
  fill: #1059FF;
  transform: rotate(180deg);
}

.refresh:hover {
  opacity: 1;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  body {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  body {
    padding-right: 10rem;
    padding-left: 10rem;
  }

  .loader p {
    font: bold 300% Consolas, Monaco, monospace;
    width: 60%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(10, end) infinite;
    -webkit-animation: typing 1s steps(10, end) infinite;
  }

  .refresh {
    right: 47%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  body {
    padding-right: 15rem;
    padding-left: 15rem;
  }

  .title-div img {
    height: 9rem;
  }

  .title-div .title-block h1 {
    font-size: 3.3rem;
  }

  .title-block {
    width: 30rem;
  }

  .details h1 {
    font-size: 3rem;
  }

  .loader img {
    height: 16rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@-webkit-keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes typing { 
  from { width: 0; } 
}

@-webkit-keyframes typing { 
  from { width: 0; } 
}